*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background-color: cadetblue;
}
.cards
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
}
img
{
    height: 120px;
    margin-left: 30px;
}