body {
    background-color: rgb(168, 168, 168);
}

/*      Imagens    */
#imagem1 {
    width: 75px;
}

#imagem2 {
    width: 75px;
}

#imagem3 {
    width: 75px;
}

#imagem4 {
    width: 75px;
}
/* Fim das Imagens */